<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
</head>
<body bgcolor="#e8e8e2" align="center"> 
    <!-- adb5bd -->
    <font size="4" face="Courier New">
    <h1 style="color:#6E46A4;">Todo App</h1>

    <h3>

    <form action="/add" method="post">
        <div>
            <label for="title"></label>
            <input type="text" name="title" placeholder="Create new Todo..." style="width: 300px;height: 50px;">
            <button type="submit" style="width:80px; height:55px;"><h3>Create</h3></button>
        </div>
    </form>
    <br>
    <div align="center" >
    {% if todos %}
    <table cellpadding="10"style="text-align:center; width: 75%;">    
        {% for todo in todos %}
        <tr bgcolor="{% if todo.complete == True %} #409040 {% else %} #e54e3b {% endif %}">
            <td>
                    <input type="checkbox" name="update" id="update" onclick="location.href='/update/{{todo.id}}'"
                    {% if todo.complete == True %} checked {% endif %}
                    style="height: 20px; width: 20px;">
            </td>
            <td style="width: 70%;">{{ todo.title }}</td>
            <td>
                <a href="/delete/{{todo.id}}">
                    <button style="width: 25px;height: 25px; color: #000000; background-color :#ff5e5b"><b>X</b></button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br>
    <div align="center">
    <table>
    <tr>
    <td>
    <a href="/mkcmp">
        <button style="width: 300px; height: 50px; background-color: #668287;"><h3>Mark all as completed</h3></button>
    </a>
    </td>
    <td>
    <a href="/mkucmp">
        <button style="width: 300px; height: 50px; background-color: #668287;"><h3>Mark all as Uncompleted</h3></button>
    </a>
    </td>
    </tr>
    <td>
    <a href="/delall">
        <button style="width: 300px; height: 50px; background-color: #668287;"><h3>Delete all todos</h3></button>
    </a>
    </td>
    <td>
    <a href="/delcmp">
        <button style="width: 300px; height: 50px; background-color: #668287;"><h3>Delete all completed todos</h3></button>
    </a>
    </td>
    </table>
    </div>
    {% else %}
        Woohoo, Nothing to do!
    {% endif %}
    </h3>
</body>
</html>